# #Phyton distingue entre mayusculas y minusculas

In [ ]:
A = "Backend Phyton"
print("el curso es: ",A)

In [ ]:
A = "Backend Phyton"
print("el curso es: ",a)

In [ ]:
a = "Backend Phyton"
print("el curso es: ",a)

In [ ]:
help (keywords)

In [ ]:
hel ("keywords")

## Palabras Reservadas en Phyton

In [ ]:
help ("keywords")

## Caracteres de escape en Phyton

In [ ]:
"\`" # Single Quote Comilla Sencilla

In [ ]:
"\`" # Single Quote Comilla Sencilla

In [ ]:
"\''" # Single Quote Comilla Sencilla

In [ ]:
"''"

In [ ]:
'''

In [ ]:
"\"" #Double Quote / Comilla Doble

In [ ]:
"""

In [ ]:
"\n" # New Line / Salto de Linea

In [ ]:
my_course = Backend Phyton de BAC
print(my_course)

In [ ]:
my_course = "Backend Phyton de BAC"
print(my_course)

In [ ]:
my_course = "Backend Phyton\nde BAC"
print(my_course)

In [ ]:
my_course = "Backend\nPhyton\nde BAC"
print(my_course)

In [ ]:
"\t" # Tab

In [ ]:
my_course = "Backend\tPhyton\tde EBAC"
print(my_course)

In [ ]:
"\r" # Carriage Return / Retorno de Carro

In [ ]:
my_course = "Backend\rPhyton\tde EBAC"
print(my_course)

In [ ]:
my_course = "Backend\rPhyton\rde EBAC"
print(my_course)

In [ ]:
"\b" # Baackspace/Retorno

In [ ]:
my_course = "Backend\bPhyton\bde EBAC"
print(my_course)

In [ ]:
"\000" # octal

In [ ]:
Hello_Spanish_Octal = "\110\157\\154\141"
print(Hello_Spanish_Octal)

In [ ]:
Hello_Spanish_Octal = "\110\157\154\141"
print(Hello_Spanish_Octal)

In [ ]:
"\ooo" # Octal

In [ ]:
"\xhh" # Hexadecimal

In [ ]:
Hello_Spanish_Hexa = "\x48\6f\x6c\x61"
print(Hello_Spanish_Hex)

In [ ]:
Hello_Spanish_Hex = "\x48\6f\x6c\x61"
print(Hello_Spanish_Hex)

In [ ]:
Hello_Spanish_Hex = "\x48\x6f\x6c\x61"
print(Hello_Spanish_Hex)

## Función Eval()

In [ ]:
my_number = 22
print ("my_number+1000")

In [ ]:
my_number = 22

print (eval("my_number+1000"))

In [1]:
my_input = input ("ingresa un numero")

ingresa un numero123

In [3]:
my_input

'123'

In [5]:
eval (my_input)

123

In [6]:
my_input = input ("ingresa un numero")
print(my_input)
print (type(my_input))
# Cadena / String

ingresa un numero345
345
<class 'str'>

In [7]:
my_input = eval (input ("ingresa un numero"))
print(my_input)
print (type(my_input))
# Entero / Int

ingresa un numero678
678
<class 'int'>

# Funcion Ragne() y Xrange()

### range(start,stop step)

In [8]:
x = range(10)

In [10]:
x

range(0, 10)

In [12]:
for number in x:
    print(number)

0
1
2
3
4
5
6
7
8
9

In [16]:
x = range (3 , 6)
for number in x:
    print(number)

3
4
5

In [18]:
x = range (3,20, 2)
for number in x:
    print(number)

3
5
7
9
11
13
15
17
19

## Mutabilidad y Inmutabilidad

In [19]:
tuplei = (1,2,3,4,5)

In [21]:
tuplei

(1, 2, 3, 4, 5)

In [22]:
#Inmutabilidad
tuplei(0) = 10

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (2096921966.py, line 2)

In [23]:
my_string = "Aprendiendo sobre inmutabilidad"

In [25]:
my_string

'Aprendiendo sobre inmutabilidad'

In [26]:
my_string [0] = a

NameError: name 'a' is not defined

In [27]:
color = ["rojo", "azul". "verde" "negro"]

SyntaxError: invalid syntax (772228132.py, line 1)

In [28]:
colores = ["rojo", "azul", "verde", "negro"]

In [30]:
colores

['rojo', 'azul', 'verde', 'negro']

In [32]:
colores[0] = "blanco"

In [34]:
colores

['blanco', 'azul', 'verde', 'negro']

In [35]:
colores [0] = rojo

NameError: name 'rojo' is not defined

## Función Print

In [36]:
# Mostrar un resultado

In [38]:
my_variable = 567
print ("El valor de my_variable es: ", my_variable)

El valor de my_variable es:  567

In [39]:
a=100
b=500
c=200
d=a+b+c
print("El valor de d es: ", d)

El valor de d es:  800

In [40]:
import builtins

In [41]:
help(builtins.print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [42]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

## función typed

In [43]:
my_number=570
print(my_number)

570

In [44]:
# Entero / Int
my_number=570
print(my_number)
print(type(my_number))

570
<class 'int'>

In [45]:
my_string= "Backend Phyton"
print(my_string)
print(type(my_string))

Backend Phyton
<class 'str'>

In [47]:
# Flotantes / Float
my_float=3.97
print(my_float)
print(type(my_float))

3.97
<class 'float'>

In [48]:
# Cadena / String
my_string= ""
print(my_string)
print(type(my_string))

<class 'str'>

In [49]:
# Boolean
my_boolean= True
print(my_boolean)
print(type(my_boolean))

True
<class 'bool'>

In [50]:
my_boolean= False
print(my_boolean)
print(type(my_boolean))

False
<class 'bool'>

In [51]:
# Listas / list
my_list= [1,2,3,4]
print(my_list)
print(type(my_list))

[1, 2, 3, 4]
<class 'list'>

In [52]:
#Tupla / Tuple
my_tuple= [1,2,3,4]
print(my_tuple)
print(type(my_tuple))

[1, 2, 3, 4]
<class 'list'>

In [53]:
#Tupla / Tuple
my_tuple= (1,2,3,4)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3, 4)
<class 'tuple'>

In [55]:
#Set
my_set= {1,2.5,"Chelas",4.23}
print(my_set)
print(type(my_set))

{1, 2.5, 4.23, 'Chelas'}
<class 'set'>

In [61]:
#Dicciononarios / Dict
my_dictionary = {'a': 14, 'b': 344, "c" : 21.5, 'd' : 21}
print(my_dictionary)
print(type(my_dictionary))

{'a': 14, 'b': 344, 'c': 21.5, 'd': 21}
<class 'dict'>

## Función ID ()

In [62]:
#Cadena / String
my_string= "Phyton"
print(my_string)
print(type(my_string))
print(id(my_string))

Phyton
<class 'str'>
2333907863216

In [64]:
my_string2= "Backend"
print(my_string2)
print(type(my_string2))
print(id(my_string2))

Backend
<class 'str'>
2333907871984

In [65]:
my_string= "Phyton"
my_string3= "Phyton"
print(my_string)
print(my_string3)
print(type(my_string))
print(type(my_string3))
print(id(my_string))
print(id(my_string3))

Phyton
Phyton
<class 'str'>
<class 'str'>
2333907863216
2333907863216

## Múltiples Valores de Entrada

In [66]:
my_number = input("ingresa el valor de my_number: ")
print("El valor de my_number es: ", my_number)

ingresa el valor de my_number: 670
El valor de my_number es:  670

In [67]:
a,b,c = input("ingresa los 3 valores: ").split()
print("El valor de a es: ",a)
print("El valor de b es: ",b)
print("El valor de c es: ",c)

ingresa los 3 valores: 100 200 300
El valor de a es:  100
El valor de b es:  200
El valor de c es:  300

In [68]:
a,b,c = input("ingresa los 3 valores separados por coma: ").split(",")
print("El valor de a es: ",a)
print("El valor de b es: ",b)
print("El valor de c es: ",c)

ingresa los 3 valores separados por coma: 500 600 700

ValueError: not enough values to unpack (expected 3, got 1)

In [69]:
a,b,c = input("ingresa los 3 valores separados por coma: ").split(",")
print("El valor de a es: ",a)
print("El valor de b es: ",b)
print("El valor de c es: ",c)

ingresa los 3 valores separados por coma: 500,600,700
El valor de a es:  500
El valor de b es:  600
El valor de c es:  700