# Indexacion de Cadenas

- ¿Que es un índicie?
- ¿Porque es necesario?

- Indexaci;on significa acceder a los elemento
- Para acceder a los elementos podemos usar corchetes "[.]".
- El indice o número que pongamos se refiere a la posición dentro de la lista ordenada 
- La indexación puede usarse para extraer elementos individuales de una estructura de datos.
- En python, toda indexacion parte desde el numero 0 como primera posición

- En python, tenemos dos tipos de indices:
    - Positivos:Comienza desde 0: de izquierda a derecha según la posicion solicitada.
    - Negativos: Comienza desde -1: de derecha a izquerda según la posicion solicitada.

In [10]:
# Segmentación de cadenas

# Indices positivos

my_string = "patito color de cafe"
print(my_string)
print(type(my_string))
print(my_string[0])
print(my_string[0:5]) # 0,1,2,3,4.
print(my_string[:5])
print(my_string[:])
print(my_string[6:18])

patito color de cafe
<class 'str'>
p
patit
patit
patito color de cafe
 color de ca

In [11]:
# Error
my_string = "patito color de cafe"
print(my_string[40])

IndexError: string index out of range

In [18]:
# Indices negativos

my_string = "patito color de cafe"
print(my_string[len(my_string)-1])
print(my_string[-1])
print(my_string[-7])
print(my_string[-12:-7])

e
e
d
olor

In [21]:
# Concatenación de cadenas

my_string_1 = "patito color"
my_string_2 = "de cafe"
print(my_string_1)
print(my_string_2)
print(my_string_1+my_string_2)
print(my_string_1+""+my_string_2)
print(my_string_1+" "+my_string_2)
print("{}{}" .format(my_string_1,my_string_2))

patito color
de cafe
patito colorde cafe
patito colorde cafe
patito color de cafe
patito colorde cafe

In [27]:
my_string_1 = "10"
my_string_2 = "20"
print(my_string_1+my_string_2)
print(eval(my_string_1+my_string_2))
print(eval("{}+{}".format(my_string_1,my_string_2)))
print(int(my_string_1)+int(my_string_2))

1020
1020
30
30

In [32]:
# error

10 + "10" # Primero hay que transformar los datos.
10 + int("10") # Esta es la forma correcta.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [38]:
# Multiplicación de Cadenas

my_string = "cargando..."
print(my_string*4)
my_string = "cargando...\n"
print(my_string*4)
my_string = "cargando..."
print(my_string*0) # no regresa nada porque cero por cero es cero, dah!
my_string = "cargando..."
print(my_string*-2) # No regresa nada porque no hay cuenta negativa (hacia atras, pues)
my_string = "cargando..."
print(my_string*4)

cargando...cargando...cargando...cargando...
cargando...
cargando...
cargando...
cargando...



cargando...cargando...cargando...cargando...

In [40]:
# error
my_string = "cargando... \n" #sólo funciona con numeros enteros
print(my_string*2.0)

TypeError: can't multiply sequence by non-int of type 'float'

In [42]:
# Comparacion de cadenas

my_string_1 = "Arroz"
my_string_2 = "Frijoles"
my_string_3 = "Arroz"
print("Es igual Sting 1 y String 2", my_string_1==my_string_2)
print("Es igual Sting 1 y String 3", my_string_1==my_string_3)

Es igual Sting 1 y String 2 False
Es igual Sting 1 y String 3 True

# Funicones de Cadena

In [49]:
# Split - divide la cadena básandose en el separador especificado

my_string = "El avatar desaparecio por cien años para enamorarse de katara a primera vista"
split_result_1 = my_string.split(" ")
split_result_2 = my_string.split(".")
print(split_result_1)
print(split_result_2)

['El', 'avatar', 'desaparecio', 'por', 'cien', 'años', 'para', 'enamorarse', 'de', 'katara', 'a', 'primera', 'vista']
['El avatar desaparecio por cien años para enamorarse de katara a primera vista']

In [50]:
my_string = "mollejas@perro.dog"
username, domain = my_string.split("@")
print(username)
print(domain)

mollejas
perro.dog

In [56]:
my_string = """"1990-12-05/error/ Este es un mensaje de error
                2001-07-27/error/ Este es un mensaje de advertencia
                2015-08-31/error/ Este es un mensaje de amenaza, pague ya"""

logs = my_string.split("\n")
for log in logs:
    date, log_level, message = log.split("/")
    print("date:", date)
    print("log_level:", log_level)
    print("message:", message)

date: "1990-12-05
log_level: error
message:  Este es un mensaje de error
date:                 2001-07-27
log_level: error
message:  Este es un mensaje de advertencia
date:                 2015-08-31
log_level: error
message:  Este es un mensaje de amenaza, pague ya

In [58]:
# Index

my_string = "El avatar desaparecio por cien años para enamorarse de katara a primera vista"
print("Katara tiene esta en posicion numero",my_string.index("katara") ,"de la oracion")
print("Katara tiene esta en posicion numero",my_string.find("katara") ,"de la oracion")

Katara tiene esta en posicion numero 55 de la oracion
Katara tiene esta en posicion numero 55 de la oracion

In [59]:
# Count - Cuenta el numero de apariciones de la subcadena solicitada en la cadena completa

my_string = "El avatar desaparecio por cien años para enamorarse de katara a primera vista"
print("La cantidad de 'a'en my_string es", my_string.count('a'))

La cantidad de 'a'en my_string es 16

In [60]:
# len - Cuenta la longitud o el numero de caracteres que hay en una cadena

my_string = "El avatar desaparecio por cien años para enamorarse de katara a primera vista"
print("La cantidad de caracteres en my_string es", len(my_string))

La cantidad de 'a'en my_string es 77

In [13]:
# Strip - remueve espacios

my_string = "  El avatar desaparecio  "
print("[{}]".format(my_string))
print("[{}]".format(my_string.strip()))

[  El avatar desaparecio  ]
[El avatar desaparecio]

In [22]:
my_string = " \n\n\t\r El avatar desaparecio \n\n\t\r  "
print("[{}]".format(my_string))
print("[{}]".format(my_string.strip()))

[

 El avatar desaparecio

  ]
[El avatar desaparecio]

In [29]:
my_string = "El avatar desaparecio"
print("[{}]".format(my_string))
print("[{}]".format(my_string.strip("desaparecio")))

[El avatar desaparecio]
[El avatar ]

In [30]:
# isdecimal / isnumeric / isdigit

my_string = "7850"
print(my_string.isdecimal())
print(my_string.isnumeric())
print(my_string.isdigit())

True
True
True

In [31]:
my_string = "El avatar desaparecio"
print(my_string.isdecimal())
print(my_string.isnumeric())
print(my_string.isdigit())

False
False
False

In [32]:
my_string = "78 50"
print(my_string.isdecimal())
print(my_string.isnumeric())
print(my_string.isdigit())

False
False
False

In [39]:
# islnum - analiza si todos los caracteres son alfanumericos (letras o numeros)
my_string_1 = "78 50"
print(my_string_1.isalnum())

my_string_2 = "El avatar desaparecio"
print(my_string_2.isalnum())

my_string_3 = "7850"
print(my_string_3.isalnum())

my_string_4 = "avatar7850"
print(my_string_4.isalnum())

my_string_5 = "avatar 7850"
print(my_string_5.isalnum())

False
False
True
True
False

In [42]:
# isupper - Analiza si todas las letas son mayusculas

my_string_1 = "El avatar desaparecio"
print(my_string_1.isupper())

my_string_2 = "LOS TACOS SABEN MAL"
print(my_string_2.isupper())

my_string_3 = "LOS TACOS DE LA 77 SABEN MAL"
print(my_string_3.isupper())

False
True
True

In [43]:
# islower - Analiza si todas las letras son minusculas

my_string_1 = "el avatar desaparecio"
print(my_string_1.islower())

my_string_2 = "LOS TACOS SABEN MAL"
print(my_string_2.islower())

my_string_3 = "LOS TACOS DE LA 77 SABEN MAL"
print(my_string_3.islower())

my_string_4 = "el avatar desaparecio 100 años"
print(my_string_4.islower())

True
False
False
True

In [51]:
#join - crea una cadena de una lista usando el separador especificado

num_list = ['99', '8', '42', '37'] # lista
separador = '/'
print(separador.join(num_list))

separador = '?'
print(separador.join(num_list))

99/8/42/37
99?8?42?37

In [50]:
num_list_2 = [99, 8, 42, 37] # lista - no funciona en "int" sólo en str
separador = '/'
print(separador.join(num_list_2))

TypeError: sequence item 0: expected str instance, int found

In [56]:
# capitalize

my_string_1 = "el avatar desaparecio 100 años"
print(my_string_1.capitalize())

El avatar desaparecio 100 años

In [57]:
# format - ayuda a configurar valores dentro de una cadena que es nuestro molde

my_string = "{} años el avatar desaparecio "
print(my_string.format("100"))
print(my_string.format("50"))
print(my_string.format("7"))
print(my_string.format("20"))

100 años el avatar desaparecio
50 años el avatar desaparecio
7 años el avatar desaparecio
20 años el avatar desaparecio

In [58]:
my_string = "{} años el avatar desaparecio, en {} años resolvio el problema con la nación del fuego "
print(my_string.format("100","5"))
print(my_string.format("50","3"))
print(my_string.format("7","2"))
print(my_string.format("20","10"))

100 años el avatar desaparecio, en 5 años resolvio el problema con la nación del fuego
50 años el avatar desaparecio, en 3 años resolvio el problema con la nación del fuego
7 años el avatar desaparecio, en 2 años resolvio el problema con la nación del fuego
20 años el avatar desaparecio, en 10 años resolvio el problema con la nación del fuego

In [61]:
my_string = "{0} año: {1} hora "
print(my_string.format("10:00","2005"))
print(my_string.format("5:00","1993"))
print(my_string.format("7:00","1982"))
print(my_string.format("2:00","2010"))

my_string_2 = "año {1}: hora: {0} "
print(my_string_2.format("10:00","2005"))
print(my_string_2.format("5:00","1993"))
print(my_string_2.format("7:00","1982"))
print(my_string_2.format("2:00","2010"))

10:00 año: 2005 hora
5:00 año: 1993 hora
7:00 año: 1982 hora
2:00 año: 2010 hora
año 2005: hora: 10:00
año 1993: hora: 5:00
año 1982: hora: 7:00
año 2010: hora: 2:00

In [69]:
my_string = "{0} año: {1} hora "
print(my_string.format(int(True),2005))
print(my_string.format("5:00","1993"))
print(my_string.format("7:00","1982"))
print(my_string.format("2:00","2010"))

1 año: 2005 hora
5:00 año: 1993 hora
7:00 año: 1982 hora
2:00 año: 2010 hora

In [86]:
# center - centra el texto, es en serio

my_string = "años el avatar desaparecio"

print("[{}]".format(my_string.center(0)))
print("[{}]".format(my_string.center(100)))
print("[{}]".format(my_string.center(50)))
print("[{}]".format(my_string.center(80)))

[años el avatar desaparecio]
[                                     años el avatar desaparecio                                     ]
[            años el avatar desaparecio            ]
[                           años el avatar desaparecio                           ]

In [97]:
# endswith - evalua si la cadena termina con el caracete o la palabra solicitada

my_string = "años el avatar desaparecio"
print('[{}]'.format(my_string.endswith("desaparecio")))
print(my_string.endswith("desaparecio"))
print(my_string.endswith("io"))
print(my_string.endswith("avatar"))

my_list = 44562, 34, 5 # no funciona con tuplas
print(type(my_list),my_list)

[True]
True
True
False
<class 'tuple'> (44562, 34, 5)

In [108]:
# swapcase - Remplaza mayusculas con minusculas y viceversa 

my_string_3 = "LOS TACOS DE LA 77 SABEN MAL"
print(my_string_3.swapcase())

my_string_4 = "el avatar desaparecio 100 años"
print(my_string_4.swapcase())

los tacos de la 77 saben mal
EL AVATAR DESAPARECIO 100 AÑOS

In [131]:
# replace - remplaza una subcadena por otra subcadena dentro de una cadena

my_string = "el avatar desaparecio 100 años"
print(my_string.replace("desaparecio", "vivió"))
print(my_string.replace("100", "20"))
print(type(my_string),my_string.replace("desaparecio", "vivió"))
print(my_string.replace("100", "20"), my_string.replace("desaparecio","vivió"))

my_list = 44562, 34, 5 # no funciona para tuplas
print(my_list.replace(34, 43))

el avatar vivió 100 años
el avatar desaparecio 20 años
<class 'str'> el avatar vivió 100 años
el avatar desaparecio 20 años el avatar vivió 100 años

AttributeError: 'tuple' object has no attribute 'replace'

# Formateo de Cadenas

In [133]:
# formateo de cadenas y datetime

from datetime import datetime
now = datetime.now()
print(now)

2023-10-11 13:21:23.904868

In [136]:
year = now.strftime("%Y")
month = now.strftime("%M")
week = now.strftime("%W")
day = now.strftime("%D")
time = now.strftime("%H:%M:%S")

print('Año: ', year)
print('Mes: ', month)
print('Semana: ', week)
print('Día: ', day)
print('Hora: ', time)

Año:  2023
Mes:  21
Semana:  41
Día:  10/11/23
Hora:  13:21:23

In [137]:
# reverse - invierte cadenas

my_string = "el avatar desaparecio 100 años"
print(my_string[:: - 1])

soña 001 oicerapased ratava le