## Diferentes formas de crear listas

In [1]:
my_list = [3]*8
print(my_list)

[3, 3, 3, 3, 3, 3, 3, 3]

In [2]:
my_list = [1,2,3,4,5,6,7,8,9,]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
my_list = []
for number in range (11):
    my_list.append(number)
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
my_list = []
for number in range (11):
    my_list.append(number)
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
my_list = []
for number in range (8):
    my_list+= [number]
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7]

In [19]:
my_list = [number for number in range(21)]
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

# Obetener sublistas

In [21]:
my_list = [number for number in range(21)]
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [22]:
my_sublist = my_list[:4]
print(my_sublist)

[0, 1, 2, 3]

In [32]:
my_sublist = my_list[5:15]
print(my_sublist)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [36]:
my_sublist = my_list [10:11]
print (my_sublist)

[10]

In [37]:
len(my_list)

21

# Creación de listas usando range y numpy

In [38]:
# range(inicio, fin, paso)
my_list = [range(1,5,1)]
print(my_list)

[range(1, 5)]

In [40]:
my_list = [*range(1,5,1)]
print(my_list)

[1, 2, 3, 4]

In [41]:
my_list = [*range(1,20,4)]
print(my_list)

[1, 5, 9, 13, 17]

In [42]:
my_list = [*range(1,20,2)]
print(my_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

!pip install numpy

In [47]:
import numpy as np
my_list = np.arange(1,20,4).tolist()
print(my_list)

[1, 5, 9, 13, 17]

# Listas anidadas

In [49]:
my_list= [1,2,3,4,5]
print(my_list)
print (my_list[3])

[1, 2, 3, 4, 5]
4

In [51]:
my_list = [1,3,5], [2,4,6]
print(my_list) # indice 0 y 1 [1,3,5], [2,4,6]
print(my_list[0]) #indice 0 [1,3,5]
print(my_list[1]) #indice 1 [2,4,6]

([1, 3, 5], [2, 4, 6])
[1, 3, 5]
[2, 4, 6]

In [52]:
my_list = [1,3,5], [2,4,6]
print(my_list)
print(my_list[0][2])
print(my_list[1][1])

([1, 3, 5], [2, 4, 6])
5
4

## Oredenando Listas

In [53]:
my_list = [5,1,6,8,7,3,6,2,15]
print(my_list)
my_list.sort()
print(my_list)

[5, 1, 6, 8, 7, 3, 6, 2, 15]
[1, 2, 3, 5, 6, 6, 7, 8, 15]

In [54]:
my_list = [5,1,6,8,7,3,6,2,15]
print(my_list)
my_list.sort(reverse=True)
print(my_list)

[5, 1, 6, 8, 7, 3, 6, 2, 15]
[15, 8, 7, 6, 6, 5, 3, 2, 1]

In [57]:
my_list = ['pulpo', 'gato', 'canario', 'res', 'pollo']
print(my_list)
my_list.sort()
print(my_list)

['pulpo', 'gato', 'canario', 'res', 'pollo']
['canario', 'gato', 'pollo', 'pulpo', 'res']

In [59]:
my_list = ['pulpo', 'gato', 'canario', 'res', 'pollo']
print(my_list)
my_list.sort(reverse=True)
print(my_list)

['pulpo', 'gato', 'canario', 'res', 'pollo']
['res', 'pulpo', 'pollo', 'gato', 'canario']

# Conversión de listas

In [60]:
# Cadenas a Listas

# Seperar palabras

my_string = 'Los patos son agresivos'
my_list = my_string.split()
print(my_string)
print(my_list)

Los patos son agresivos
['Los', 'patos', 'son', 'agresivos']

In [63]:
my_string = 'Los patos son agresivos'
my_list = my_string.split('Los patos')
print(my_string)
print(my_list)

Los patos son agresivos
['', ' son agresivos']

In [64]:
my_string = 'Los patos son agresivos'
my_list = my_string.split('son agresivos')
print(my_string)
print(my_list)

Los patos son agresivos
['Los patos ', '']

In [72]:
# separar caracateres

my_string = 'Los patos son agresivos'
my_list =  list (my_string)
print(my_string)
print(my_list)

Los patos son agresivos
['L', 'o', 's', ' ', 'p', 'a', 't', 'o', 's', ' ', 's', 'o', 'n', ' ', 'a', 'g', 'r', 'e', 's', 'i', 'v', 'o', 's']

In [73]:
# separar caracteres en una lista de listas

my_string = 'Los patos son agresivos'
my_list =  list(map(list, my_string))
print(my_string)
print(my_list)

Los patos son agresivos
[['L'], ['o'], ['s'], [' '], ['p'], ['a'], ['t'], ['o'], ['s'], [' '], ['s'], ['o'], ['n'], [' '], ['a'], ['g'], ['r'], ['e'], ['s'], ['i'], ['v'], ['o'], ['s']]

In [79]:
# De listas a cadenas

my_list = ['Los', 'patos', 'son', 'agresivos']
my_string = " ".join(my_list)
print(my_list)
print(my_string)

['Los', 'patos', 'son', 'agresivos']
Lospatossonagresivos

In [86]:
my_list = ['L', 'o', 's', ' ', 'p', 'a', 't', 'o', 's', ' ', 's', 'o', 'n', ' ', 'a', 'g', 'r', 'e', 's', 'i', 'v', 'o', 's']
my_string = "".join(my_list)
print(my_list)
print(my_string)

['L', 'o', 's', ' ', 'p', 'a', 't', 'o', 's', ' ', 's', 'o', 'n', ' ', 'a', 'g', 'r', 'e', 's', 'i', 'v', 'o', 's']
Los patos son agresivos

In [87]:
my_list = [['L'], ['o'], ['s'], [' '], ['p'], ['a'], ['t'], ['o'], ['s'], [' '], ['s'], ['o'], ['n'], [' '], ['a'], ['g'], ['r'], ['e'], ['s'], ['i'], ['v'], ['o'], ['s']]
my_string = "".join(["".join(element) for element in my_list])
print(my_list)
print(my_string)

[['L'], ['o'], ['s'], [' '], ['p'], ['a'], ['t'], ['o'], ['s'], [' '], ['s'], ['o'], ['n'], [' '], ['a'], ['g'], ['r'], ['e'], ['s'], ['i'], ['v'], ['o'], ['s']]
Los patos son agresivos

# Creación de listas con valores de entrada

In [90]:
my_string = input ("ingresa los valores separados por espacio")
my_list = my_string.split()
print(my_string)
print(my_list)

ingresa los valores separados por espacio57892 3478 324768 78
57892 3478 324768 78
['57892', '3478', '324768', '78']

# Metodos de manipulación de listas.

In [101]:
# append - agregar un elemento al final de una lista

my_list = ["reloj", "tetanos", "tuetano", "animal", "vegetal"]
print(my_list)
print(len(my_list))

['reloj', 'tetanos', 'tuetano', 'animal', 'vegetal']
5

In [103]:
my_list.append("mineral")
print(my_list)
print(len(my_list))

['reloj', 'tetanos', 'tuetano', 'animal', 'vegetal', 'mineral']
6

In [104]:
my_list.append("criminal")
print(my_list)
print(len(my_list))

['reloj', 'tetanos', 'tuetano', 'animal', 'vegetal', 'mineral', 'criminal']
7

In [105]:
my_list = [500, 45, 23452, 64]
print(my_list)
print(len(my_list))

[500, 45, 23452, 64]
4

In [106]:
my_list.append(400)
print(my_list)
print(len(my_list))

[500, 45, 23452, 64, 400]
5

In [107]:
my_list.append(400.43)
print(my_list)
print(len(my_list))

[500, 45, 23452, 64, 400, 400.43]
6

In [110]:
## instert - agregar un valor a una lista en una posición especifica
## insert (indica, valor)

my_list = ["reloj", "tetanos", "tuetano", "animal", "vegetal"]
print(my_list)
print(len(my_list))

['reloj', 'tetanos', 'tuetano', 'animal', 'vegetal']
5

In [112]:
my_list.insert (2, "mineral")
print(my_list)
print(len(my_list))

['reloj', 'tetanos', 'mineral', 'tuetano', 'animal', 'vegetal']
6

In [113]:
my_list.insert (0, "criminal")
print(my_list)
print(len(my_list))

['criminal', 'reloj', 'tetanos', 'mineral', 'tuetano', 'animal', 'vegetal']
7

In [114]:
## clear - Elimina todos los elementos de la lista

my_list = ["reloj", "tetanos", "tuetano", "animal", "vegetal"]
print(my_list)
print(len(my_list))

['reloj', 'tetanos', 'tuetano', 'animal', 'vegetal']
5

In [115]:
my_list.clear ()
print(my_list)
print(len(my_list))

[]
0

In [3]:
# copy - copia elementos de una lista

my_list = ["reloj", "tetanos", "tuetano", "animal", "vegetal"]
print(my_list)
print(len(my_list))

['reloj', 'tetanos', 'tuetano', 'animal', 'vegetal']
5

In [4]:
my_list_copy = my_list.copy()
print(my_list_copy)
print(len(my_list_copy))

['reloj', 'tetanos', 'tuetano', 'animal', 'vegetal']
5

In [6]:
my_list_copy.clear()
print(my_list_copy)
print(len(my_list_copy))
print(my_list)
print(len(my_list))

[]
0
['reloj', 'tetanos', 'tuetano', 'animal', 'vegetal']
5

In [7]:
my_list_assigned = my_list
my_list_assigned.clear()
print(my_list_assigned)
print(len(my_list_assigned))
print(my_list)
print(len(my_list))

[]
0
[]
0

In [12]:
# Count -> cuenta cuantas veces aparece un elemento en una lista

my_list = [55,60,90,5,90,85,7,33,7]
print(len(my_list))
print(my_list)

9
[55, 60, 90, 5, 90, 85, 7, 33, 7]

In [20]:
print('cuantas veces aparece el numero 90 en mi lista? {}'.format(my_list.count(90)))

cuantas veces aparece el numero 90 en mi lista? 2

In [16]:
# Index -> obtiene el primer índice de una lista que hace mathc con el elemento solicitado.


my_list = [55,60,90,5,90,85,7,33,7]
print(len(my_list))
print(my_list)

9
[55, 60, 90, 5, 90, 85, 7, 33, 7]

In [17]:
print('El índice de la primera aparicion del numero 55 es {}'.format(my_list.index(55)))

El índice de la primera aparicion del numero 55 es 0

In [19]:
print('El índice de la primera aparicion del numero 90 es {}'.format(my_list.index(90)))

El índice de la primera aparicion del numero 90 es 2

In [21]:
my_list = ["reloj", "tetanos", "tuetano", "animal", "vegetal"]
print(len(my_list))
print(my_list)

5
['reloj', 'tetanos', 'tuetano', 'animal', 'vegetal']

In [22]:
my_list_2 = ['pulpo', 'gato', 'canario', 'res', 'pollo']
print(my_list)
print(len(my_list_2))

['reloj', 'tetanos', 'tuetano', 'animal', 'vegetal']
5

In [24]:
my_list.extend(my_list_2)
print(my_list)

['reloj', 'tetanos', 'tuetano', 'animal', 'vegetal', 'pulpo', 'gato', 'canario', 'res', 'pollo']

In [ ]:
my_list_3 = [55,60,90,5,90,85,7,33,7]
print(my_list_3)

In [30]:
my_list.extend(my_list_3)
print(my_list)

['reloj', 'tetanos', 'tuetano', 'animal', 'vegetal', 'pulpo', 'gato', 'canario', 'res', 'pollo', 55, 60, 90, 5, 90, 85, 7, 33, 7, 55, 60, 90, 5, 90, 85, 7, 33, 7]

In [31]:
print(my_list)

['reloj', 'tetanos', 'tuetano', 'animal', 'vegetal', 'pulpo', 'gato', 'canario', 'res', 'pollo', 55, 60, 90, 5, 90, 85, 7, 33, 7, 55, 60, 90, 5, 90, 85, 7, 33, 7]

In [ ]:
my_list_3.clear()
print(my_list_3)
print(len(my_list_3))

In [34]:
print(my_list)

['reloj', 'tetanos', 'tuetano', 'animal', 'vegetal', 'pulpo', 'gato', 'canario', 'res', 'pollo', 55, 60, 90, 5, 90, 85, 7, 33, 7, 55, 60, 90, 5, 90, 85, 7, 33, 7]

In [36]:
# Pop -> Elimina elementos de una lista basado en los índices

my_list = [745,387,543,32,5634,5]
print(len(my_list))
print(my_list)

6
[745, 387, 543, 32, 5634, 5]

In [37]:

my_list.pop()
print(len(my_list))
print(my_list)

5
[745, 387, 543, 32, 5634]

In [38]:
my_list.pop(0)
print(len(my_list))
print(my_list)

4
[387, 543, 32, 5634]

In [39]:
my_list.pop(1)
print(len(my_list))
print(my_list)

3
[387, 32, 5634]

In [43]:
# remove -> Elimina la primera aparicion de un valor en una lista, en caso de datos repetidos.

my_list = [745, 745, 387,543,32,5634,5]
print(len(my_list))
print(my_list)

7
[745, 745, 387, 543, 32, 5634, 5]

In [44]:
my_list.remove(32)
print(len(my_list))
print(my_list)

6
[745, 745, 387, 543, 5634, 5]

In [45]:
my_list.remove(745)
print(len(my_list))
print(my_list)

5
[745, 387, 543, 5634, 5]

In [46]:
# Reverse -> Invierte el orden de una lista

my_list = ["reloj", "tetanos", "tuetano", "animal", "vegetal"]
print(len(my_list))
print(my_list)

5
['reloj', 'tetanos', 'tuetano', 'animal', 'vegetal']

In [47]:
my_list.reverse()
print(len(my_list))
print(my_list)

5
['vegetal', 'animal', 'tuetano', 'tetanos', 'reloj']

In [48]:
# Sort -> Oredena los elementos de una lista

my_list = ["reloj", "tetanos", "tuetano", "animal", "vegetal"]
print(len(my_list))
print(my_list)

5
['reloj', 'tetanos', 'tuetano', 'animal', 'vegetal']

In [49]:
my_list.sort()
print(len(my_list))
print(my_list)

5
['animal', 'reloj', 'tetanos', 'tuetano', 'vegetal']

In [50]:
my_list = ["reloj", "tetanos", "tuetano", "animal", "vegetal"]
print(my_list)
my_list.sort(reverse=True)
print(my_list)

['reloj', 'tetanos', 'tuetano', 'animal', 'vegetal']
['vegetal', 'tuetano', 'tetanos', 'reloj', 'animal']

In [51]:
# obtener un elemento aleatorio de una lista


my_list = [745, 745, 387,543,32,5634,5]
print(len(my_list))
print(my_list)

7
[745, 745, 387, 543, 32, 5634, 5]

In [52]:
import random

In [53]:
print(random.choice(my_list))

745

In [54]:
print(random.choice(my_list))

5

In [55]:
print(random.choice(my_list))

745