# Operadores y tipos de operadores

¿Que son los operadores?

- Son un conjunto de simbolos para un lenguaje de programación
- Pueden decirle al compilador o interprete que ejecute ciertas accones para producir un resultado final.
- Puede ser usado paara aplicar operraciones en una variable
- Pueden ser clasisificados según su tipo (Aritméticos, relacionales, de asignación, lógicos, afiliación y de identidad)

## Tipos de operadores:

- Aritméticos ( suma " + ", resta " - ", multiplicación " * ", división " / ", division baja " // ", Exponente " ** " )
- Relacionales (Igual a " = = ", Diferente a " =! " Mayor que " > ". Mayor o igual que " >= " Menor que " < " Menor o igual que " <= " ) 
- De Asignación (Operador de asignación " = "  Sumar y Asignar " += ", Restar y Asignar " -= ", Multiplicar y Asignar " *= ", Dividir y Asignar " /= " Divison redonda y asignar " //= ", Modulo y asignar " %= ", Esponente y asignar " **= "  
- Lógicos de Afiliación
- De identidad

In [2]:
# suma " + " :
num_1 = 500
num_2 = 300
print("El resutltado de la suma de num_1 + num_2 es:", num_1 + num_2)

El resutltado de la suma de num_1+num_2 es: 800

In [3]:
# resta " - " :
num_1 = 500
num_2 = 300
print("El resutltado de la resta de num_1 - num_2 es:", num_1 - num_2)

El resutltado de la resta de num_1 - num_2 es: 200

In [4]:
# multiplicación " * " :
num_1 = 500
num_2 = 300
print("El resutltado de la multiplicación de num_1 * num_2 es:", num_1 * num_2)

El resutltado de la multiplicación de num_1 * num_2 es: 150000

In [5]:
# División " / "
num_1 = 500
num_2 = 300
print("El resutltado de la División de num_1 / num_2 es:", num_1 / num_2)

El resutltado de la División de num_1 / num_2 es: 1.6666666666666667

In [6]:
# División con redondeo bajo " // "
num_1 = 500
num_2 = 300
print("El resutltado de la División de num_1 // num_2 es:", num_1 // num_2)

El resutltado de la División de num_1 // num_2 es: 1

In [7]:
# División con redondeo bajo " // "
num_1 = 200
num_2 = 900
print("El resutltado de la División de num_1 // num_2 es:", num_1 // num_2)

El resutltado de la División de num_1 // num_2 es: 0

In [8]:
# Exponente " ** "
num_1 = 2
num_2 = 5
print("El resutltado de de num_1 // num_2 es:", num_1** num_2) # 2*2*2*2*2

El resutltado de de num_1 // num_2 es: 32

In [9]:
# Exponente " ** "
num_1 = 3
num_2 = 3
print("El resutltado de de num_1 // num_2 es:", num_1** num_2) # 3*3*3

El resutltado de de num_1 // num_2 es: 27

## Operadores Realcionales

¿Qué son los operadores relacionles?
- Son conocidos como operadores de comparación.
- Regresan un valor booleano (True / False).
- En Python son usados para comparar o relacionar los valores.
- True es el resultado de cuando la condición se cumple.
- False es cuando la condición no se cumple.
- Estos operadores se ancargan de las opeaciones de comparación.

In [11]:
# " == " Igual a 

num_1 = 570
num_2 = 420
print("El resultado de num_1 == num_2 es:", num_1 == num_2)

El resultado de num_1 == num_2 es: False

In [12]:
num_1 = 570
num_2 = 570
print("El resultado de num_1 == num_2 es:", num_1 == num_2)

El resultado de num_1 == num_2 es: True

In [16]:
str_1 = "Cochiloco McGee"
str_2 = "Cochiloco McGee"
print("El resultado de num_1 == num_2 es:", str_1 == str_2)

El resultado de num_1 == num_2 es: True

In [17]:
str_1 = "Cochiloco MgGee"
str_2 = "Cochiloco McGee"
print("El resultado de num_1 == num_2 es:", str_1 == str_2)

El resultado de num_1 == num_2 es: False

In [19]:
# " != " Diferente a
num_1 = 570
num_2 = 420
print("El resultado de num_1 =! num_2 es:", num_1 != num_2)

El resultado de num_1 =! num_2 es: True

In [20]:
# " != " Diferente a
num_1 = 570
num_2 = 570
print("El resultado de num_1 =! num_2 es:", num_1 != num_2)

El resultado de num_1 =! num_2 es: False

In [21]:
str_1 = "Cochiloco McGee"
str_2 = "Cochiloco McGee"
print("El resultado de num_1 != num_2 es:", str_1 != str_2)

El resultado de num_1 != num_2 es: False

In [22]:
str_1 = "Cochiloco McGee"
str_2 = "Cochiloco MgGee"
print("El resultado de num_1 != num_2 es:", str_1 != str_2)

El resultado de num_1 != num_2 es: True

In [23]:
# Mayor que " > "
num_1 = 570
num_2 = 420
print("El resultado de num_1 > num_2 es:", num_1 > num_2)

El resultado de num_1 > num_2 es: True

In [24]:
num_1 = 570
num_2 = 570
print("El resultado de num_1 > num_2 es:", num_1 > num_2)

El resultado de num_1 > num_2 es: False

In [25]:
num_1 = 420
num_2 = 570
print("El resultado de num_1 > num_2 es:", num_1 > num_2)

El resultado de num_1 > num_2 es: False

In [28]:
# Mayor o igual que " >= "

num_1 = 570
num_2 = 420
print("El resultado de num_1 >= num_2 es:", num_1 >= num_2)

El resultado de num_1 >= num_2 es: True

In [29]:
num_1 = 570
num_2 = 570
print("El resultado de num_1 > num_2 es:", num_1 >= num_2)

El resultado de num_1 > num_2 es: True

In [30]:
num_1 = 420
num_2 = 570
print("El resultado de num_1 >= num_2 es:", num_1 >= num_2)

El resultado de num_1 >= num_2 es: False

In [31]:
# Menor que " < "
num_1 = 570
num_2 = 420
print("El resultado de num_1 < num_2 es:", num_1 < num_2)

El resultado de num_1 < num_2 es: False

In [32]:
num_1 = 570
num_2 = 570
print("El resultado de num_1 < num_2 es:", num_1 < num_2)

El resultado de num_1 < num_2 es: False

In [33]:
num_1 = 420
num_2 = 570
print("El resultado de num_1 < num_2 es:", num_1 < num_2)

El resultado de num_1 < num_2 es: True

In [34]:
# Menor o igual que " <= "
num_1 = 570
num_2 = 420
print("El resultado de num_1 <= num_2 es:", num_1 <= num_2)

El resultado de num_1 <= num_2 es: False

In [35]:
num_1 = 570
num_2 = 570
print("El resultado de num_1 <= num_2 es:", num_1 <= num_2)

El resultado de num_1 <= num_2 es: True

In [36]:
num_1 = 420
num_2 = 570
print("El resultado de num_1 <= num_2 es:", num_1 <= num_2)

El resultado de num_1 <= num_2 es: True

# Operadores de Asignación

# ¿Qué son los operadores de Asignación?

- En phyton son usados para asignar valores a varibales
- Incluyen al operador de asignacion que el signo de igual " = "

In [37]:
# "Operador de asignacion"
num_1 = 20
num_2 = 3

In [39]:
# " =+ " Sumar y Asignar
num_1 = 20
num_2 = 3
print("num_1 antes de la asignición", num_1)
num_1 += num_2 # num_1 = num_1 + num_2
print("num_1 despues de la asignación", num_1)

num_1 antes de la asignición 20
num_1 despues de la asignación 23

In [41]:
num_1 = 20
num_2 = 3
print("num_1 antes de la asignición", num_1)
num_1 -= num_2 # num_1 = num_1 - num_2
print("num_1 despues de la asignación", num_1)

num_1 antes de la asignición 20
num_1 despues de la asignación 17

In [42]:
num_1 = 20
num_2 = 3
print("num_1 antes de la asignición", num_1)
num_1 *= num_2 # num_1 = num_1 * num_2
print("num_1 despues de la asignación", num_1)

num_1 antes de la asignición 20
num_1 despues de la asignación 60

In [43]:
num_1 = 20
num_2 = 3
print("num_1 antes de la asignición", num_1)
num_1 /= num_2 # num_1 = num_1 / num_2
print("num_1 despues de la asignación", num_1)

num_1 antes de la asignición 20
num_1 despues de la asignación 6.666666666666667

In [44]:
num_1 = 20
num_2 = 3
print("num_1 antes de la asignición", num_1)
num_1 //= num_2 # num_1 = num_1 // num_2
print("num_1 despues de la asignación", num_1)

num_1 antes de la asignición 20
num_1 despues de la asignación 6

In [45]:
num_1 = 20
num_2 = 3
print("num_1 antes de la asignición", num_1)
num_1 **= num_2 # num_1 = num_1 ** num_2
print("num_1 despues de la asignación", num_1)

num_1 antes de la asignición 20
num_1 despues de la asignación 8000

num_1 = 20
num_2 = 3
print("num_1 antes de la asignición", num_1)
num_1 %= num_2 # num_1 = num_1 % num_2
print("num_1 despues de la asignación", num_1)

# Operadores Lógicos

## ¿Que son los operadores Lógicos?

- Son usados principalmente para declaraciones condicioneales
- Son indicadores estructurales
- Tambien se les conoce como Conectores Lógicos:
    - AND: True/False si ambas operaciones cumplen con las condidion
    - OR: True/False cuando por lo menos una operacion cumple  con las condiciones
    - NOT: True/False si la operacion es True/False

In [47]:
# AND
# Todas las condiciones deben ser verdaderas, de lo contrario el resultado es False

num_1 = 11 # True
num_2 = 55 # True
print("num_1 <= num_2 and num_1 != num_2", num_1 <= num_2 and num_1 != num_2)

num_1 <= num_2 and num_1 != num_2 True

In [48]:
num_1 = 11 # True
num_2 = 11 # False
print("num_1 <= num_2 and num_1 != num_2", num_1 <= num_2 and num_1 != num_2)

num_1 <= num_2 and num_1 != num_2 False

In [49]:
num_1 = 11 # True
num_2 = 55 # False
print("num_1 <= num_2 and num_1 != num_2", num_1 <= num_2 and num_1 != num_2 and num_2 > 10)

num_1 <= num_2 and num_1 != num_2 True

In [50]:
num_1 = 11 # True
num_2 = 11 # False
print("num_1 <= num_2 and num_1 != num_2", num_1 <= num_2 and num_1 != num_2 and num_2 > 10)

num_1 <= num_2 and num_1 != num_2 False

In [53]:
# OR
num_1 = 11 # True
num_2 = 55 # False
print("num_1 <= num_2 or num_1 != num_2", num_1 <= num_2 or num_1 != num_2 or num_2)

num_1 <= num_2 or num_1 != num_2 True

In [55]:
num_1 = 11 # True
num_2 = 11 # False
print("num_1 <= num_2 or num_1 != num_2", num_1 <= num_2 or num_1 != num_2)

num_1 <= num_2 or num_1 != num_2 True

In [59]:
num_1 = 11 # True
num_2 = 55 # False
print("num_1 <= num_2 or num_1 != num_2", num_1 <= num_2 or num_1 != num_2 or num_2 > 10)

num_1 <= num_2 or num_1 != num_2 True

In [58]:
num_1 = 11 # True
num_2 = 11 # False
print("num_1 <= num_2 or num_1 != num_2", num_1 <= num_2 or num_1 != num_2 or num_2 > 10)

num_1 <= num_2 or num_1 != num_2 True

In [61]:
# NOT (Lo opuesto)
# La condicion debe ser falsa

num_1 = 11 
num_2 = 55 
print("not num_1 <= num_2 ", not num_1 <= num_2 )

not num_1 <= num_2  False

In [62]:
num_1 = 11 
num_2 = 55 
print("not num_1 <= num_2 ", not num_1 != num_2 )

not num_1 <= num_2  False

In [63]:
num_1 = 11 
num_2 = 55 
print("not num_1 <= num_2 ", not num_1 > num_2 )

not num_1 <= num_2  True

# Operadores de Afiliación

## ¿Que son los operadores de afiliación?

- Son usados para validar los elementos en listas, cadenas y tuplas.
- Validan si una varibale está presente en una secuencia.
- Regresa un valor booleano (True/False).
- Regresa True si el valor está presente en la secuencia.
- Regresa False si el valor no esta presente.
- Hay dos operadores de Afiliación.
    - IN : El valor esta en la secuencia.
    - NOT IN : El valor no esta en la secuencia.

In [64]:
# IN ; ¿El valor esta dentro de la secuencia?
my_string= "Los patos son verdes"
print("'a'in Los patos son verdes", 'a' in my_string)

'a'in Los patos son verdes True

In [66]:
my_string= "Los patos son verdes"
print("'w'in Los patos son verdes", 'w' in my_string)

'w'in Los patos son verdes False

In [67]:
my_list = {1, 45, 67, 33, 95}
print("'5' in my list", 5 in my_list)

5' in my list False

In [70]:
my_set = {1, 45, 67, 33, 95, 5, 45, 11, 76, 1, 45, 67, 33, 95, 5, 45, 11, 103}
print("'5' in my set", 5 in my_set)

'5' in my set True

In [71]:
my_set

{1, 5, 11, 33, 45, 67, 76, 95, 103}

In [72]:
# NOT IN (No esta presente ten la secuencia?)
my_string= "Los patos son verdes"
print("'a'not in Los patos son verdes", 'a' not in my_string)

'a'not in Los patos son verdes False

In [74]:
my_string= "Los patos son verdes"
print("'w' not in Los patos son verdes", 'w' not in my_string)

'w' not in Los patos son verdes True

In [75]:
my_list = {1, 45, 67, 33, 95}
print("'5' not in my list", 5 not in my_list)

'5' not in my list True

In [76]:
my_set = {1, 45, 67, 33, 95, 5, 45, 11, 76, 1, 45, 67, 33, 95, 5, 45, 11, 103}
print("'5' not in my set", 5 not in my_set)

'5' not in my set False

# Operadores de identidad.
## ¿Qué son los operadores de identedidad?

- Son usados para comparar la ubicaci;on en memmoria de dos objetos.
- Se utilizan para validar si los valores comparten el mismo espacio en memoria o no
- regresan True si lo comparten y False si no lo comparten
- Dos operadores: 
    - IS
    - IS NOT

In [77]:
# IS
num_1 = 11
num_2 = 55
print("num_1 is num_2", num_1 is num_2)

num_1 is num_2 False

In [78]:
num_1 = 77
num_2 = 77
print("num_1 is num_2", num_1 is num_2)

num_1 is num_2 True

In [79]:
# IS NOT
num_1 = 11
num_2 = 55
print("num_1 is not num_2", num_1 is not num_2)

num_1 is not num_2 True

In [80]:
num_1 = 77
num_2 = 77
print("num_1 is not num_2", num_1 is not num_2)

num_1 is not num_2 False

# Conversion de Tipos
## ¿Que es la conversion de tipos?

- Es la conversion de un tipo de dato a otro tipo de dato.
- Es un paso muy importante para combinar direntes fuentes de datos en un formato específico
- 2 Tipos:
    - Conversion impplicita: hecha de forma automática por el interprete de python
    - Conversion Explicíta:

In [81]:
# Conversion Implicita

14+2.0

16.0

In [82]:
# Conversion Explicita
int(199.99)

199

In [83]:
float(58)

58.0

In [84]:
complex(4)

(4+0j)

## Conversiones INT

In [85]:
int(10.78) # float a int

10

In [86]:
int (False) # bool a int

0

In [87]:
int(5+4j) # complex a int : Error

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [88]:
int("120") #string a int

120

In [89]:
int ('120.5') # string a int: error

ValueError: invalid literal for int() with base 10: '120.5'

In [90]:
# Conversion a Float

float(23) # int a float

23.0

In [91]:
float(23+5j) # complex a float error

TypeError: float() argument must be a string or a real number, not 'complex'

In [92]:
float(True) #BOOL a Float

1.0

In [93]:
float('54.4') # String a float

54.4

In [94]:
float('54') # String a float

54.0

In [96]:
float('54t') # String a float: error

ValueError: could not convert string to float: '54t'

In [97]:
float("True") # String a float: error

ValueError: could not convert string to float: 'True'

# Conversion Complex (compleja)

In [98]:
complex(42) #int a complex

(42+0j)

In [99]:
complex(42.5) #float a complex

(42.5+0j)

In [100]:
complex(True) #bool a complex

(1+0j)

In [101]:
complex(False) #bool a complex

0j

In [102]:
complex("42") #str a complex

(42+0j)

In [103]:
complex("42.5") #str a complex

(42.5+0j)

In [104]:
complex("chicharo") #str a complex: Error

ValueError: complex() arg is a malformed string

In [106]:
complex("42j") #str a complex

42j

In [108]:
complex("42x") #str a complex : Error

ValueError: complex() arg is a malformed string

# Conversiones Bool

In [109]:
bool(0) #int a bool

False

In [116]:
bool(0.1 ) #float a bool

True

In [117]:
bool(6) # int a bool

True

In [118]:
bool (3j) #complex a bool

True

In [114]:
bool (0j)

False

In [119]:
bool('0') #str a bool

True

# Conversiones String

In [120]:
str(24) #int a str

'24'

In [121]:
str(True) #bool a str

'True'

In [122]:
str(24.7) #float a str

'24.7'

In [125]:
str(24+0j) #complex a str

'(24+0j)'

# Funciones Básicas
## Trunc()

In [126]:
num_1 = 65.34
num_2 = 65.3
num_3 = 65.80
num_4 = 65.0000000001
print('num_1:', num_1)
print('num_2:', num_2)
print('num_3:', num_3)
print('num_4:', num_4)

num_1: 65.34
num_2: 65.3
num_3: 65.8
num_4: 65.0000000001

In [136]:
from math import trunc
num_1 = 65.34
num_2 = 65.3
num_3 = 65.80
num_4 = 65.0000000001
print('trunc(num_1):',trunc(num_1))
print('trunc(num_2):',trunc(num_2))
print('trunc(num_3):',trunc(num_3))
print('trunc(num_4):',trunc(num_4))

trunc(num_1): 65
trunc(num_2): 65
trunc(num_3): 65
trunc(num_4): 65

# Round(), Cell(), Floor()

In [131]:
# round : redondeda hacia el entero mas cercano
num_1 = 65.34
num_2 = 65.3
num_3 = 65.80
num_4 = 65.0000000001
print('round(num_1):',round(num_1))
print('round(num_2):',round(num_2))
print('round(num_3):',round(num_3))
print('round(num_4):',round(num_4))

round(num_1): 65
round(num_2): 65
round(num_3): 66
round(num_4): 65

In [134]:
#ceil: redondea hacia arriba
from math import ceil
num_1 = 65.34
num_2 = 65.3
num_3 = 65.80
num_4 = 65.0000000001
print('cell(num_1):',ceil(num_1))
print('cell(num_2):',ceil(num_2))
print('cell(num_3):',ceil(num_3))
print('cell(num_4):',ceil(num_4))

cell(num_1): 66
cell(num_2): 66
cell(num_3): 66
cell(num_4): 66

In [135]:
# floor: redondea hacia abajo
from math import floor
num_1 = 65.34
num_2 = 65.3
num_3 = 65.80
num_4 = 65.0000000001
print('floor(num_1):',floor(num_1))
print('floor(num_2):',floor(num_2))
print('floor(num_3):',floor(num_3))
print('floor(num_4):',floor(num_4))

floor(num_1): 65
floor(num_2): 65
floor(num_3): 65
floor(num_4): 65

# Funcion % ( para dar formato)

In [138]:
num_1 = 65.34
num_2 = 65.3
num_3 = 65.80
num_4 = 65.0000000001
print("'%.2f'% num_1:",'%.2f'%(num_1))
print("'%.3f'% num_2:",'%.3f'%(num_2))
print("'%.4f'% num_3:",'%.4f'%(num_3))
print("'%.5f'% num_4:",'%.5f'%(num_4))

'%.2f'% num_1: 65.34
'%.3f'% num_2: 65.300
'%.4f'% num_3: 65.8000
'%.5f'% num_4: 65.00000

In [141]:
# Format
num_1 = 65.34
num_2 = 65.3
num_3 = 65.80
num_4 = 65.0000000001
print("'(:.2f)'.format(num_1):", '{:.2f}'.format(num_1))
print("'(:.3f)'.format(num_2):", '{:.3f}'.format(num_2))
print("'(:.4f)'.format(num_3):", '{:.4f}'.format(num_3))
print("'(:.5f)'.format(num_4):", '{:.5f}'.format(num_4))

'(:.2f)'.format(num_1): 65.34
'(:.3f)'.format(num_2): 65.300
'(:.4f)'.format(num_3): 65.8000
'(:.5f)'.format(num_4): 65.00000