# Creando y modificando sets

In [1]:
my_set= set()
my_set.add('phyton')

print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
1
{'phyton'}

In [4]:
my_set= set()
my_set.add('caballo')
my_set.update((52,'ballo', 4.6))
my_set.add('puchero')

print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
5
{'puchero', 4.6, 'ballo', 52, 'caballo'}

In [5]:
my_set= {'puchero', 4.6, 'ballo', 52, 'caballo'}

print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
5
{'puchero', 4.6, 52, 'ballo', 'caballo'}

# metodos para manipulacion de sets

In [9]:
#add agrega un elemento a un set

my_set = {3,6,4,7,2,7}
print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
5
{2, 3, 4, 6, 7}

In [10]:
my_set.add(1)
my_set.add(2)
my_set.add(6)
my_set.add(1)

print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
6
{1, 2, 3, 4, 6, 7}

In [11]:
# Clear -> Remueve todos los elementos del set

my_set = {3,6,4,7,2,7}
print(type(my_set))
print(len(my_set))
print(my_set,'\n')

my_set.clear()
print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
5
{2, 3, 4, 6, 7}

<class 'set'>
0
set()

In [14]:
#Copy -> Copia los elementos en un nuevo set

my_set = {3,6,4,7,2,7}
my_set_2 = my_set.copy()

print(type(my_set))
print(len(my_set))
print(my_set,'\n')

print(type(my_set_2))
print(len(my_set_2))
print(my_set_2,'\n')

my_set_2.clear()

print(type(my_set))
print(len(my_set))
print(my_set,'\n')

print(type(my_set_2))
print(len(my_set_2))
print(my_set_2,'\n')

<class 'set'>
5
{2, 3, 4, 6, 7}

<class 'set'>
5
{2, 3, 4, 6, 7}

<class 'set'>
5
{2, 3, 4, 6, 7}

<class 'set'>
0
set()

In [15]:
my_set = {3,6,4,7,2,7}
my_set_2 = my_set

print(type(my_set))
print(len(my_set))
print(my_set,'\n')

print(type(my_set_2))
print(len(my_set_2))
print(my_set_2,'\n')

my_set_2.clear()

print(type(my_set))
print(len(my_set))
print(my_set,'\n')

print(type(my_set_2))
print(len(my_set_2))
print(my_set_2,'\n')

<class 'set'>
5
{2, 3, 4, 6, 7}

<class 'set'>
5
{2, 3, 4, 6, 7}

<class 'set'>
0
set()

<class 'set'>
0
set()

In [19]:
#Difference -> Obtiene los valores presentes en el primer set y faltantes en el segundo set

set_a = {1,3,5,7,9}
set_b = {1,2,4,6,7,8}

# Valores que hay en set_b faltantes en set_a
print('los valores faltantes en set a son:',set_b.difference (set_a), '\n')

#Valores que hay en set_a faltantes en set_b
print('Los valores faltantes en set b son:',set_a.difference(set_b))

los valores faltantes en set a son: {8, 2, 4, 6}

Los valores faltantes en set b son: {9, 3, 5}

In [21]:
#Difference_update -> Conserva solo los valores diferentes entre el set solicitado y el que esta mandado como parámetro

set_a = {1,3,5,7,9}
set_b = {1,2,4,6,7,8}

# Valores que hay en set_b faltantes en set_a
set_b.difference_update(set_a)
print(set_b,'\n')

#Valores que hay en set_a faltantes en set_b
set_a.difference_update(set_b)
print(set_a)

{2, 4, 6, 8}

{1, 3, 5, 7, 9}

In [22]:
set_a = {1,3,5,7,9}
set_b = {1,2,4,6,7,8}

# Valores que hay en set_a faltantes en set_b
set_a.difference_update(set_b)
print(set_a,'\n')

#Valores que hay en set_b faltantes en set_a
set_b.difference_update(set_a)
print(set_b)

{3, 5, 9}

{1, 2, 4, 6, 7, 8}

In [24]:
# Discard -> Elimina un elemento del set si esta presente.

my_set={'tequila','vodka','ginebra','ron','mezcal'}
print(type(my_set))
print(len(my_set))
print(my_set,'\n')

my_set.discard('ron')
print(type(my_set))
print(len(my_set))
print(my_set,'\n')

#Es irrelevante que el valor no este presente
my_set.discard('pisco')
print(type(my_set))
print(len(my_set))
print(my_set,'\n')

<class 'set'>
5
{'ron', 'mezcal', 'vodka', 'ginebra', 'tequila'}

<class 'set'>
4
{'mezcal', 'vodka', 'ginebra', 'tequila'}

<class 'set'>
4
{'mezcal', 'vodka', 'ginebra', 'tequila'}

In [26]:
# Intersection -> obtiene los valores en comun en 2 sets

set_a = {1,3,5,7,9}
set_b = {1,2,4,6,7,8}

print(set_a.intersection(set_b),'\n')
print(set_b.intersection(set_a),'\n')

{1, 7}

{1, 7}

In [31]:
#Intersection_update -> Obtiene los valores en común en 2 sets y los asigna al set que manda llamar el método.

set_a = {1,3,5,7,9}
set_b = {1,2,4,6,7,8}

set_a.intersection_update(set_b),'\n'
print(type(set_a))
print(len(set_a))
print(set_a, '\n')

print(type(set_b))
print(len(set_b))
print(set_b, '\n')

<class 'set'>
2
{1, 7}

<class 'set'>
6
{1, 2, 4, 6, 7, 8}

In [34]:
# isdisjoint 
# True : si noya valores compartidos por ambos sets
# False : Si hay por lo menos un valor compartido por ambos sets

set_a = {1,3,5,7,9}
set_b = {1,2,4,6,7,8}

print(set_a.isdisjoint(set_b),'\n')

set_1 = {3,9}
set_2 = {1,2,4,6,7,8}
print(set_1.isdisjoint(set_2))

False

True

In [38]:
#issubset
#True : todos los valore sdel set llamado estan en el set pasado como parametro

set_a = {1,7}
set_b = {1,2,4,6,7,8}
print(set_a.issubset(set_b),'\n')

#False : no todos los valores del set llamado se encuentran en el set pasado como parametro
set_1 = {1,3,5,7,9}
set_2 = {1,2,4,6,7,8}
print(set_1.issubset(set_2))

True

False

In [41]:
# isupperset -> analliza todos los valores del set como parametro esten dentro del set llamado

set_a = {1,7}
set_b = {1,2,4,6,7,8}
print(set_b.issuperset(set_a),'\n')

set_1 = {1,3,5,7,9}
set_2 = {1,2,4,6,7,8}
print(set_1.issuperset(set_2))

True

False

In [42]:
# POP -> Elimina al primer elemento del set

my_set = {1,2,4,6,7,8}

print(type(my_set))
print(len(my_set))
print(my_set,'\n')

print(my_set.pop(),)
print(my_set.pop(),)
print(my_set.pop(),)
print(my_set.pop(),'\n')

print(type(my_set))
print(len(my_set))
print(my_set,)

<class 'set'>
6
{1, 2, 4, 6, 7, 8}

1
2
4
6

<class 'set'>
2
{7, 8}

In [43]:
#remove -> Elimina el elemento pasado como parametro, debe estar presente en el set o manda error


my_set = {1,2,4,6,7,8}

print(type(my_set))
print(len(my_set))
print(my_set,'\n')

my_set.remove(4)

print(type(my_set))
print(len(my_set))
print(my_set,'\n')

my_set.remove(3)

<class 'set'>
6
{1, 2, 4, 6, 7, 8}

<class 'set'>
5
{1, 2, 6, 7, 8}

KeyError: 3

In [47]:
#union -> combina 2 sets

set_a = {1,3,5,7,9}
set_b = {1,2,4,6,7,8}

print(type(set_a))
print(len(set_a))
print(set_a,'\n')

print(type(set_b))
print(len(set_b))
print(set_b,'\n')

set_c = set_a.union(set_b)
print(type(set_c))
print(len(set_c))
print(set_c)

<class 'set'>
5
{1, 3, 5, 7, 9}

<class 'set'>
6
{1, 2, 4, 6, 7, 8}

<class 'set'>
9
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [49]:
#Update -> Añade los valores del set pasado como parametro al set llamado

set_a = {1,3,5,7,9}
set_b = {1,2,4,6,7,8}

print(type(set_a))
print(len(set_a))
print(set_a,'\n')

print(type(set_b))
print(len(set_b))
print(set_b,'\n')

set_a.update(set_b)
print (set_a,'\n')
print (set_b)

<class 'set'>
5
{1, 3, 5, 7, 9}

<class 'set'>
6
{1, 2, 4, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

{1, 2, 4, 6, 7, 8}

In [51]:
#Symmetric_difference -> Obtiene las diferencias en ambos sets

set_a = {1,3,5,7,9}
set_b = {1,2,4,6,7,8}

print (set_a.symmetric_difference(set_b),'\n')
print (set_b.symmetric_difference(set_a))

{2, 3, 4, 5, 6, 8, 9}

{2, 3, 4, 5, 6, 8, 9}

In [53]:
#Symmetric_difference_update -> Obtiene las diferencias de ambos sets y asigna los valores al set llamado

set_a = {1,3,5,7,9}
set_b = {1,2,4,6,7,8}

set_a.symmetric_difference_update(set_b)
print ((set_a),'\n')
print (set_b)

{2, 3, 4, 5, 6, 8, 9}

{1, 2, 4, 6, 7, 8}

# Conversion de Sets

In [54]:
# De Cadena a Set

my_string = "rollo de carne"
my_set = set(my_string)

print(type(my_string))
print(my_string, '\n')
print(type(my_set))
print(my_set)

<class 'str'>
rollo de carne

<class 'set'>
{'n', 'o', 'l', 'c', 'e', 'a', ' ', 'r', 'd'}

In [56]:
#Lista a Set

my_list = [3,3,6,7,2,3,8,9,8,9,5]
my_set = set(my_list)

print(type(my_list))
print(my_list, '\n')
print(type(my_set))
print(my_set)

<class 'list'>
[3, 3, 6, 7, 2, 3, 8, 9, 8, 9, 5]

<class 'set'>
{2, 3, 5, 6, 7, 8, 9}

In [59]:
# De Tupla a Set

my_tuple = (3,3,6,7,2,3,8,9,8,9,5)
my_set = set(my_tuple)

print(type(my_tuple))
print(my_tuple, '\n')
print(type(my_set))
print(my_set)

<class 'tuple'>
(3, 3, 6, 7, 2, 3, 8, 9, 8, 9, 5)

<class 'set'>
{2, 3, 5, 6, 7, 8, 9}

In [60]:
# de set a string

my_set = {'n', 'o', 'l', 'c', 'e', 'a', ' ', 'r', 'd'}
my_string = ''.join(my_set)

print(type(my_set))
print(my_set, '\n')
print(type(my_string))
print(my_string)

<class 'set'>
{'n', 'o', 'l', 'c', 'e', 'a', ' ', 'r', 'd'}

<class 'str'>
nolcea rd

In [61]:
# de set a lista

#Lista a Set

my_set = {2, 3, 5, 6, 7, 8, 9}
my_list = list(my_set)

print(type(my_set))
print(my_set, '\n')
print(type(my_list))
print(my_list)

<class 'set'>
{2, 3, 5, 6, 7, 8, 9}

<class 'list'>
[2, 3, 5, 6, 7, 8, 9]

In [62]:
# de Set a Tupla

my_set = {2, 3, 5, 6, 7, 8, 9}
my_tuple = tuple(my_set)

print(type(my_set))
print(my_set, '\n')
print(type(my_tuple))
print(my_tuple)

<class 'set'>
{2, 3, 5, 6, 7, 8, 9}

<class 'tuple'>
(2, 3, 5, 6, 7, 8, 9)